
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.headerWrapper{
margin: 0 auto;
width: 1700px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(26, 23, 20);
}


.leftSide{
    display: flex;
    
  
}




.headerMenu{
    font-size: 25px;
    background-color: rgb(36,36,36);
    display: flex;
    width: 150px;
    height: 120px;
    justify-content: center;
    align-items: center;
   
}

.heraderLogo{
    display: flex;
    align-items: center;
}

.heraderLogo .logo {
    width: 90px;
    height: 70px; 
    background-color: #fff;
    margin-left: 20px;
    text-align: center;
}

.rightSide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
}


.rightSide div{
    margin-right: 20px;
}

.mail a{
    color: rgb(121, 117, 117);
    text-decoration: none;

}
.rightSide .minus{
    margin-bottom: 10px;
}
.mail a p{
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1rem;
}

.tel a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}